{% extends "base.html" %}
{% block title %} About {% endblock title %}

{% block content %}
<u>
    <h1>Read About FlexyLite</h1>
</u>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit officiis, quidem hic nesciunt ratione
    incidunt esse odio architecto? Repellendus, dolor quam? Aut, excepturi? Quaerat mollitia earum quidem tempore eius
    magnam, in dolorem? Harum voluptatum nemo aperiam voluptatem delectus at autem iure eos, numquam nostrum! Ea,
    obcaecati dignissimos, natus, veritatis repellat illum dolorum ipsum minus dolore adipisci magni voluptates esse
    perferendis modi. Culpa velit asperiores numquam iusto earum optio recusandae reprehenderit, incidunt voluptates
    sit, natus voluptatibus eligendi atque tempora ea facilis placeat laborum exercitationem iste veritatis tenetur
    accusantium impedit aut ipsum. Voluptates nulla incidunt assumenda tenetur tempore modi sit molestias ab quo
    possimus neque nemo dolores ipsam, quod officia? Eum perferendis quia, repudiandae debitis sint, dolore similique
    neque rerum voluptatem porro laboriosam velit repellendus dignissimos optio! Pariatur a incidunt perspiciatis
    veritatis, soluta quis repellendus quod quos voluptatum dolore, iste excepturi explicabo animi delectus nemo error
    ratione aut totam, quibusdam eveniet. Quod blanditiis consectetur, tenetur ullam distinctio cupiditate, corrupti,
    sapiente harum perspiciatis culpa aliquam! Possimus accusamus aut odio sapiente, debitis eum quis provident
    temporibus cum magnam dolorum excepturi perferendis, repudiandae doloremque error ex delectus ratione esse
    aspernatur voluptates. Odit beatae corrupti doloremque, cupiditate dolor commodi, repellendus repellat expedita
    adipisci nesciunt omnis sapiente.</p>

<u>
    <h1>It's an Inventory Store For Self Use</h1>

</u>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti ad reiciendis nihil quasi iure nulla
    obcaecati, sapiente porro eius iusto iste dolor qui hic possimus pariatur libero expedita! Earum doloremque natus
    illum aspernatur quas fugiat quos, aut ut ab corrupti itaque necessitatibus, beatae esse nostrum rem officia debitis
    ea nesciunt consequatur sunt. Veniam neque quam laboriosam corrupti nulla dignissimos id nemo, omnis delectus? Ex,
    fuga asperiores soluta modi tenetur id dolor beatae omnis aut maiores, alias nihil deleniti ullam quisquam possimus
    expedita veniam commodi ad. Nihil, doloribus incidunt quaerat id officia sequi repellat placeat. Beatae inventore
    aspernatur unde animi ad illum ex laudantium dicta rem veritatis ratione incidunt, doloremque deserunt facilis natus
    laborum dignissimos minima repellendus reiciendis dolore distinctio similique. Tenetur labore quaerat esse
    necessitatibus alias odit temporibus doloremque, odio quod eos error? Ipsa itaque doloribus excepturi eveniet quae
    ad nam quam ut omnis animi facilis, voluptates dicta, magni ab ea. Debitis cumque facilis doloremque culpa quo,
    animi veniam molestiae est aliquid ut impedit. Ab in sint saepe, repellendus quasi laboriosam natus nulla labore,
    veniam iure exercitationem. Ipsa inventore, nemo architecto cum sed fugit quam optio. Unde eius quia maxime
    aspernatur. Explicabo minus vel sapiente exercitationem nam velit cum, mollitia sed placeat doloremque quo!
    Excepturi ipsam recusandae necessitatibus quae, deserunt consequatur odio, et, consequuntur vitae voluptates tenetur
    modi quo? Vitae soluta facere possimus beatae a natus ipsa alias nesciunt ducimus, fugiat aliquid tempore quas
    aspernatur tenetur explicabo, fugit non voluptas consequatur cumque? Dolor dicta quas eveniet eaque asperiores aut
    officiis recusandae quod, ducimus aspernatur odit facere tempora officia vel minus veniam a id odio impedit ad
    aperiam nisi? Ad fuga inventore rerum eligendi adipisci quam consequuntur consectetur nemo earum qui illum expedita
    corrupti magni ipsum aperiam voluptatibus commodi quae id, sit atque totam rem possimus aliquid tempore. Molestiae
    accusantium similique cupiditate laborum iusto adipisci quam, nemo soluta voluptate delectus id amet veniam
    praesentium ut! Porro assumenda quo repudiandae, magni obcaecati eius deserunt facere ipsam, esse, quod voluptates
    odit velit non. Distinctio deserunt vitae aperiam repudiandae natus sapiente, velit dicta, repellat, reiciendis
    dolore reprehenderit! Optio ratione amet similique nisi reprehenderit accusamus iure, recusandae quae atque sapiente
    a rerum modi, voluptate facilis eligendi soluta hic debitis perferendis! Eius neque odit a officiis iure non est
    nostrum accusantium iusto? Praesentium sed quod provident doloremque saepe. Non, eius labore, minima ipsum cum quae
    illum maiores praesentium in suscipit omnis nisi corporis voluptatem asperiores.</p>

{% endblock content %}